<!DOCTYPE html>

<html>
  <head>
    <title>MV</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  
  <body>
    <div id="app" class="section columns">
      <div class="column is-6-desktop is-8-mobile is-offset-2-mobile is-offset-3-desktop">
      <div>
        <input v-model="query" type="search" @keyup.enter="get" class="input" placeholder="Enter song name and press enter">
      </div>
      <div class="content" v-for="(song, id) in response" :key=song.id :style="currentSongIndex === id ? 'background-color: lightgrey;' : ''">
        <p @click="currentSongIndex = id">
          {{ song.name }}
        </p>
      </div>
      
        <div class="columns has-text-centered" style="position: fixed; bottom: 0; right: 0; left: 0; background-color: lightblue;">
          <div class="column is-3" v-if="">
            {{ response.length ? response[currentSongIndex].name : '' }}
          </div>
          <div class="column is-1 is-offset-3">
            <button class="button" @click="currentSongIndex--" disabled="currentSongIndex > 0">previous</button>
          </div>
          <div class="column is-3">
            <audio :src="songUrl" controls autoplay v-if="response.length"></audio>
          </div>
          <div class="column is-1">
            <button class="button" @click="currentSongIndex++" disabled="currentSongIndex < response.length">next</button>
          </div>
          
        </div>
      </div>
    </div>
    
    <script>
new Vue({
  el: '#app',
  data () {
    return {
      baseUrl: 'http://ec2-34-247-52-128.eu-west-1.compute.amazonaws.com:9999/',
      query: '',
      response: [],
      loading: false,
      currentSongIndex: 0
    }
  },
  methods: {
    get () {
      fetch(this.baseUrl + 'get_new_station_by_search?type=song&title=' + this.query)
      .then(r => r.text())
      .then(m3u => {
        var re = /#EXTINF:\d+,(.*)\n.*get_song\?id=(T\S+)\n/g
        var m
        while (m = re.exec(m3u)) {
          this.response.push({
            name: m[1],
            id: m[2]
          })
        }
      })
    }
  },
  computed: {
    songUrl () {
      return this.response.length ? this.baseUrl + 'get_song?id=' + this.response[this.currentSongIndex].id : ''
    }
  }
})
    </script>
  </body>
</html>